<li class="comment-box cards"><%= object.description %> <span><%= link_to image_tag("icons8-delete.svg", height: 25), comment_path(object), class:"px-3", remote: true, method: :delete, data: { confirm: "Are you sure?"} %> </span> </li>
