<%= render 'shared/navbar' %>
<div class="home-img">
  <div class="jumbotron" style="height: 780px">
    <div class="container text-center">
      <p></p>
      <h1>Twitter app</h1>
    </div>
    <p class="container text-center mt-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, doloribus?
      Impedit tenetur eaque amet corrupti culpa! Quae eos nam quas, porro, ex
      tempora eaque placeat nesciunt reprehenderit, ullam deleniti corrupti?
    </p>
    <div class="d-flex align-items-center justify-content-center mt-5 pt-5">
      <%= link_to "Sign up!", new_user_registration_path, class: "btn
      btn-success btn-lg" %>
    </div>
  </div>
</div>

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Contact Us</h5>
    <p class="card-text">Mail On the E-Mail ID or Open the link below</p>
    <a href="#" class="btn btn-primary">Chat</a>
  </div>
</div>
